<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChM5WK7E4LcfKQUZtDmOksDnH48zcnxog</string>
	<key>GCM_SENDER_ID</key>
	<string>1086619094421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motivafit</string>
	<key>PROJECT_ID</key>
	<string>movafit-a2eef</string>
	<key>STORAGE_BUCKET</key>
	<string>movafit-a2eef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086619094421:ios:cedbf2ff646297a1c37a9c</string>
</dict>
</plist>